<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>746630632189-gaubhhi9ime6m3bed318m3rs6ejqq3a9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.746630632189-gaubhhi9ime6m3bed318m3rs6ejqq3a9</string>
	<key>API_KEY</key>
	<string>AIzaSyARB9lh2N0l65LhXvBtrunydv3BvqnEcUk</string>
	<key>GCM_SENDER_ID</key>
	<string>746630632189</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mobexs.Kubazar</string>
	<key>PROJECT_ID</key>
	<string>testkubazar</string>
	<key>STORAGE_BUCKET</key>
	<string>testkubazar.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:746630632189:ios:529e7bd44222087d</string>
	<key>DATABASE_URL</key>
	<string>https://testkubazar.firebaseio.com</string>
</dict>
</plist>